#container {
	margin :  0 auto;
	width: 500px;
	height: auto;
	background: #ade6e3;
	
}
.tab{
	text-decoration: none;
	background: #b45a5a;
	display: inline-block;
	padding: 8px;
	padding-left: 40px;
	padding-right: 40px;

}
#dn{
	background: #E0D9D9;
}
.tab:hover {
	background: lightblue !important;
}
.divfrm{
	width: 500px;
	height: auto;
	/* background: red; */

}
#divdn{
	width: auto;
	height: auto;
	/*background: yellow;*/
	display: none;
	margin-left:30px;

}
#divdk{
	width: auto;
	height: auto;
	
	margin-left:30px;

}
h2{
	text-align: center;
	text-transform: uppercase;
	margin-right: 45px;
}
.inputcss{
	padding : 6px;
	margin: 5px;
}
td{
	text-align: center;
}
#btndk, #btndn{
	padding:  10px;
	background: yellow;
	border: none;
	padding-right: 30px;
	padding-left: 30px;
	margin-left: 130px;

}
#btndk:hover, #btndn:hover{
	background: lightblue !important;
	cursor: pointer;
}
#chxghinho, #quenpw{
	text-align: center;
	display: inline-block;
	margin:  5px;
}
#pthongbao{
	color: red;
	padding :  20px;
	background: yellow;
	display: none;
	margin-right:  30px;
}